VITE_FIREBASE_API_KEY=AIzaSyAmkk7mcxarjR3Rv3RVeGiWyGj2n5tWKeM
VITE_FIREBASE_AUTH_DOMAIN=dreamdrip-world.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dreamdrip-world
VITE_FIREBASE_STORAGE_BUCKET=dreamdrip-world.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1051404219423
VITE_FIREBASE_APP_ID=1:1051404219423:web:5ca57aedcf3aca4cce112a
VITE_FIREBASE_MEASUREMENT_ID=G-KB83KX49DD
